.gallery {
  margin: auto;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.gallery > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin:0 0 1.6rem 0;

}

.gallery__title {
  font-size: 2.2rem;
}

.gallery__link {
  font-size: 1.4rem;
  color: var(--cor-borde-blue);
}

@media screen and (min-width: 576px) {
  .gallery {
    padding: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .gallery {
    width: 80%;
  }
}