:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-bg-green: #;
  --cor-bg-blue: #;
  --cor-bg-gray: #;
  --cor-bg-white: #FFFFFF;
  --cor-bg-black: #464646;

  --cor-borde-blue: #2A7AE4;
  --cor-text-blue:#2A7AE4; 
  --cor-button-blue:#2A7AE4; 

  --cor-text-white:#ffffff; 

  
  /* --cor-de-link: #; */
  /* --cor-de-hover:#; */
  
  /* --cor-button-green: #05F283;*/
  
}

html{
  font-size: 62.5%;
  background-color: #efefef;
}
